torch==1.9.0+cu111
torchvision==0.10.0+cu111
git+https://github.com/Bartzi/pytorch-training.git
statsmodels==0.12.2
csaps==1.0.4
Flask==2.0.1
imgaug==0.4.0
ipython==7.25.0
kornia==0.5.5
numpy==1.21.0
opencv-python-headless==4.5.2.54
Pillow==8.2.0
pycocotools==2.0.2
pytest==6.2.4
pytorch-fid==0.2.0
PyYAML==5.4.1
requests==2.22.0
scikit-image==0.18.2
scikit-learn==0.24.2
scipy==1.7.0
tensorboard==2.5.0
tensorboard-pytorch==0.7.1
tqdm==4.61.1
wandb==0.10.32
